# Intro to the Dataset and the Aim of the EDA
<img src="image.png" alt="walmart black friday sale EDA banner" style="width: 800px;"/>

The Management team at Walmart Inc. wants to analyze the customer purchase behavior (specifically, purchase amount) against the customer’s gender and the various other factors to help the business make better decisions. They want to understand if the spending habits differ between male and female customers

Dataset

The company collected the transactional data of customers who purchased products from the Walmart Stores during Black Friday. The dataset has the following features:
Dataset link: Walmart_data.csv

User_ID:	User ID
Product_ID:	Product ID
Gender:	Sex of User
Age:	Age in bins
Occupation:	Occupation(Masked)
City_Category:	Category of the City (A,B,C)
StayInCurrentCityYears:	Number of years stay in current city
Marital_Status:	Marital Status
ProductCategory:	Product Category (Masked)
Purchase:	Purchase Amount

What good looks like?

Import the dataset and do usual data analysis steps like checking the structure & characteristics of the dataset.
Detect Null values & Outliers (using boxplot, “describe” method by checking the difference between mean and median, isnull etc.)
Do some data exploration steps like:
Tracking the amount spent per transaction of all the 50 million female customers, and all the 50 million male customers, calculate the average, and conclude the results.
Inference after computing the average female and male expenses.
Use the sample average to find out an interval within which the population average will lie. Using the sample of female customers you will calculate the interval within which the average spending of 50 million male and female customers may lie.
Use the Central limit theorem to compute the interval. Change the sample size to observe the distribution of the mean of the expenses by female and male customers.
The interval that you calculated is called Confidence Interval. The width of the interval is mostly decided by the business: Typically 90%, 95%, or 99%. Play around with the width parameter and report the observations.
Conclude the results and check if the confidence intervals of average male and female spends are overlapping or not overlapping. How can Walmart leverage this conclusion to make changes or improvements?
Perform the same activity for Married vs Unmarried and Age
For Age, you can try bins based on life stages: 0-17, 18-25, 26-35, 36-50, 51+ years.
Give recommendations and action items to Walmart.
Evaluation Criteria

Defining Problem Statement and Analyzing basic metrics (10 Points)
Observations on shape of data, data types of all the attributes, conversion of categorical attributes to 'category' (If required), statistical summary
Non-Graphical Analysis: Value counts and unique attributes ​
Visual Analysis - Univariate & Bivariate
For continuous variable(s): Distplot, countplot, histogram for univariate analysis
For categorical variable(s): Boxplot
For correlation: Heatmaps, Pairplots
Missing Value & Outlier Detection (10 Points)
Business Insights based on Non- Graphical and Visual Analysis (10 Points)
Comments on the range of attributes
Comments on the distribution of the variables and relationship between them
Comments for each univariate and bivariate plot
Answering questions (50 Points)
Are women spending more money per transaction than men? Why or Why not? (10 Points)
Confidence intervals and distribution of the mean of the expenses by female and male customers (10 Points)
Are confidence intervals of average male and female spending overlapping? How can Walmart leverage this conclusion to make changes or improvements? (10 Points)
Results when the same activity is performed for Married vs Unmarried (10 Points)
Results when the same activity is performed for Age (10 Points)
Final Insights (10 Points) - Illustrate the insights based on exploration and CLT
Comments on the distribution of the variables and relationship between them
Comments for each univariate and bivariate plots
Comments on different variables when generalizing it for Population
Recommendations (10 Points)
Actionable items for business. No technical jargon. No complications. Simple action items that everyone can understand

## Library Setup

In [6]:
# Scientific libraries
import numpy as np
import pandas as pd

# Visual libraries
import matplotlib.pyplot as plt
from matplotlib import rcParams
import seaborn as sns
import missingno as msno  # Visualize missing values

# Helper libraries
from tqdm.notebook import tqdm, trange # Progress bar
#from colorama import Fore, Back, Style # coloured text in output
import warnings 
#warnings.filterwarnings('ignore') # ignore all warkings

# Visual setup
%config InlineBackend.figure_format = 'retina' # sets the figure format to 'retina' for high-resolution displays.

# Pandas options
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' # display all interaction 

# Table styles
from custom_styles import table_styles

# Seed value for numpy.random
np.random.seed(18)

## Read the Dataset

In [7]:
wm_df = pd.read_csv('walmart_data.csv')
wm_df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969

# Basic Exploration and Data wrangling 
##  Basic Exploration

In [8]:
wm_df.info()
wm_df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   User_ID                     550068 non-null  int64
 1   Product_ID                  550068 non-null  object
 2   Gender                      550068 non-null  object
 3   Age                         550068 non-null  object
 4   Occupation                  550068 non-null  int64
 5   City_Category               550068 non-null  object
 6   Stay_In_Current_City_Years  550068 non-null  object
 7   Marital_Status              550068 non-null  int64
 8   Product_Category            550068 non-null  int64
 9   Purchase                    550068 non-null  int64
dtypes: int64(5), object(5)
memory usage: 42.0+ MB

,User_ID,Occupation,Marital_Status,Product_Category,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,23961.000000

### Understanding the Dataset
Column                     | Description                          | Expected Data Type
---------------------------|--------------------------------------|-------------------
User_ID                    | Unique ID for user                   | int64
Product_ID                 | Unique ID for product                | str / object
Gender                     | Male / Female                        | Category
Age                        | Age groups                           | Category
Occupation                 | Unique code                          | Category
City_Category              | A,B,C                                | Category
Stay_In_Current_City_Years | Number of years stay in current city | Category
Marital_Status             | 0/1                                  | Category
Product_Category           | Unique code                          | Category
Purchase                   | Amount                               | int64

### Checklist List For the Dataset

**Data Validation and Relationships**

- Cross-Field Validation: Compare multiple variables to get cross-field validation like delivery date >= purchase date.
    - Example: Check if the delivery date is always greater than or equal to the purchase date.
- Data Leakage: Ensure that future information is not inadvertently included in the training data (especially relevant for time series or predictive modeling).
    - Example: In a predictive model for stock prices, ensure that future stock prices are not included in the training data.
- Referential Integrity: Validate foreign key relationships between tables or datasets.
    - Example: Check if all order IDs in the orders table have a corresponding customer ID in the customers table.
- Business Rules: Check for any specific business rules or domain-specific constraints that the data should adhere to.
    - Example: In a retail dataset, check if the total order value is equal to the sum of item prices.
- **Hierarchical Validation**: Validate the hierarchical relationships within the data, such as ensuring that a subcategory belongs to the correct main category.
	- Example: Check if all 'product_subcategory' values correctly correspond to their 'product_category' values.

**Data Quality and Cleansing**

- Handling Missing Data: Impute using mean or mode with or without grouping by other categories, and check for patterns in missingness.
    - Example: Impute missing values in the 'age' column with the mean age grouped by 'gender'.
    - Check category wise missing 
	- MCAR, MAR, MNAR
	- For sting data type there could be entries like ' ' or 'unknown' like that which are essentially like a missing value (not an issue for category because we can catch it when we take value_counts())
- Handling Outliers: 
	- Remove outliers: In some cases, it may be appropriate to simply remove the observations that contain outliers. This can be particularly useful if you have a large number of observations and the outliers are not true representatives of the underlying population.
	- Transform outliers: The impact of outliers can be reduced or eliminated by transforming the feature. For example, a log transformation of a feature can reduce the skewness in the data, reducing the impact of outliers.
	- Impute outliers: In this case, outliers are simply considered as missing values. You can employ various imputation techniques for missing values, such as mean, median, mode, nearest neighbor, etc., to impute the values for outliers.
	- Use robust statistical methods: Some of the statistical methods are less sensitive to outliers and can provide more reliable results when outliers are present in the data. For example, we can use median and IQR for the statistical analysis as they are not affected by the outlier’s presence. This way we can minimize the impact of outliers in statistical analysis.
	- Use discretization or binning : converting numerical variables to categorical form can result in some loss of information, as the precise numerical values within each bin are no longer distinguished thus quality will be reduced thus accuracy of ML model but good for EDA
	  Use Freedman-Diaconis rule to get bin size (same is used by sns when you give bins=n) [numpy implementation](https://medium.com/@maxmarkovvision/optimal-number-of-bins-for-histograms-3d7c48086fde) 
    - Example: Identify and remove salary values that are more than 3 standard deviations away from the mean.
- De-duplication: Handle duplicate records and quasi-duplicates (records that are almost identical but not exact duplicates).
    - Example: Identify and remove duplicate customer records based on name, address, and phone number.

**Data Transformation and Feature Engineering**

- Categorical Constraint: Uncollapsed categories with the same or similar names, and check for categories with very low counts (which may need to be grouped or removed).
    - Example: Group infrequent 'product_category' values into an 'Other' category.
- Generating New Features: Create new features like the difference between purchase date and delivery date or segment numerical data into categorical bins.
    - Example: Create a new feature 'delivery_time' as the difference between 'delivery_date' and 'purchase_date'.
    - **Feature Engineering for Time Series**: For time series data, create features that capture temporal patterns, such as the day of the week, month, or season.
    	- Example: Add a 'day_of_week' column to a dataset with timestamps to capture weekly patterns.
- Transform Data from Wide to Long: Reshape data from wide to long format, or vice versa, as needed for analysis.
    - Example: Convert a dataset with multiple columns for different years (e.g., 'sales_2020', 'sales_2021') to a long format with 'year' and 'sales' columns.
- Normalization and Scaling: Normalize or scale features as required for certain types of analyses or models.
    - Example: Scale all features using StandardScaler before training a machine learning model.
- Feature Selection: Identify and select the most relevant features for the analysis or modeling task.
    - Example: Use a technique like correlation analysis or recursive feature elimination to select the most important features.

**Data Representativeness**

- Representative Data Check: Ensure that the data is representative of the population of interest, compare statistics of local and global populations, and mention any unrepresented populations for which conclusions may not apply.
    - Example: Check if the income distribution in your dataset matches the population income distribution for the region of interest.
- **Geographical Representativeness**: Ensure that the data is representative of the geographical area of interest, especially for location-based analyses.
	- Example: Verify that the dataset includes data from all relevant regions or cities for a comprehensive analysis.
- Sample Size and Power: Check if the sample size is sufficient for the desired level of statistical power or precision.
    - Example: Calculate the required sample size for a given effect size and desired statistical power before conducting an experiment.
- Data Drift: Monitor for any significant changes or drifts in the data distribution over time (especially relevant for online or streaming data).
    - Example: Track the mean and standard deviation of key features over time to detect any significant drifts in the data distribution.

**General**

- Documentation: Document all data cleaning and transformation steps, including the rationale behind each decision.
    - Example: Maintain a data cleaning log that describes each step taken, why it was necessary, and any assumptions made.
- Optimize DF to reduce space like changing data type to lower size
- Version Control: Use version control to track changes to the data and the cleaning/transformation scripts.
    - Example: Use Git to track changes to the data cleaning scripts and the cleaned datasets.
- Reproducibility: Ensure that the data cleaning and transformation process is reproducible by others.
    - Example: Create a Docker container or a virtual environment with all dependencies and scripts to ensure reproducibility.
- - **Data Privacy and Security**: Ensure that the data cleaning process does not compromise data privacy or security, especially when handling sensitive information.
	- Example: Anonymize personally identifiable information (PII) before cleaning and analysis.
- **Performance Monitoring**: Monitor the performance of the data cleaning process to identify bottlenecks and optimize the process.
	- Example: Use profiling tools to measure the time taken by each step of the data cleaning pipeline.
- **Collaboration and Communication**: Ensure clear communication and collaboration among team members involved in the data cleaning process.
	- Example: Hold regular meetings to discuss data cleaning challenges and solutions.

## Data wrangling

**Basic sanity and preparation**
* Renamed columns to snake_case

In [11]:
wm_df.rename(lambda x: x.lower(), axis='columns', inplace=True)
wm_df

,user_id,product_id,gender,age,occupation,city_category,stay_in_current_city_years,marital_status,product_category,purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,7969
...,...,...,...,...,...,...,...,...,...,...
550063,1006033,P00372445,M,51-55,13,B,1,1,20,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,490

**Data Integrity and Consistency**
- Uniformity Constraint: Checked all data if in same unit or format like date, currency, scales
- Data Type Constraint: Converted all category like variables to category data type with order specified
- Data Range Constraints: No -ve values should be there in `purchases`
- Uniqueness Constraint: `product id`, `user_id` should not be duplicated
- Categorical Constraint: All categorical variables are ordered and no scope of collapsing because of similar name or very low in count for specific categories

In [51]:
# Data Type Constraint
wm_df['gender'] = pd.Categorical(wm_df['gender'], ordered=True, categories=['M', 'F'])
wm_df['age'] = pd.Categorical(wm_df['age'], ordered=True, categories=['0-17', '18-25', '26-35', '36-45', '46-50', '51-55', '55+'])
wm_df['marital_status'] = pd.Categorical(wm_df['marital_status'], ordered=True, categories=[0, 1])
wm_df['city_category'] = pd.Categorical(wm_df['city_category'], ordered=True, categories=['A', 'B', 'C'])
wm_df['occupation'] = pd.Categorical(wm_df['occupation'], ordered=True, categories=[x for x in range(0, 21)])
wm_df['stay_in_current_city_years'] = pd.Categorical(wm_df['stay_in_current_city_years'], ordered=True, categories=['0', '1', '2', '3', '4+'])
wm_df['product_category'] = pd.Categorical(wm_df['product_category'], ordered=True, categories=[x for x in range(1, 21)])
wm_df.info() # reduced size to 16.3 MB from 42 MB

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 10 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   user_id                     550068 non-null  int64
 1   product_id                  550068 non-null  object
 2   gender                      550068 non-null  category
 3   age                         550068 non-null  category
 4   occupation                  550068 non-null  category
 5   city_category               550068 non-null  category
 6   stay_in_current_city_years  550068 non-null  category
 7   marital_status              550068 non-null  category
 8   product_category            550068 non-null  category
 9   purchase                    550068 non-null  int64
dtypes: category(7), int64(2), object(1)
memory usage: 16.3+ MB

In [59]:
# Categorical Constraint: 
for col in wm_df.select_dtypes('category').columns:
    wm_df[col].value_counts()

gender
M    414259
F    135809
Name: count, dtype: int64

age
26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: count, dtype: int64

occupation
4     72308
0     69638
7     59133
1     47426
17    40043
20    33562
12    31179
14    27309
2     26588
16    25371
6     20355
3     17650
10    12930
5     12177
15    12165
11    11586
19     8461
13     7728
18     6622
9      6291
8      1546
Name: count, dtype: int64

city_category
B    231173
C    171175
A    147720
Name: count, dtype: int64

stay_in_current_city_years
1     193821
2     101838
3      95285
4+     84726
0      74398
Name: count, dtype: int64

marital_status
0    324731
1    225337
Name: count, dtype: int64

product_category
5     150933
1     140378
8     113925
11     24287
2      23864
6      20466
3      20213
4      11753
16      9828
15      6290
13      5549
10      5125
12      3947
7       3721
18      3125
20      2550
19      1603
14      1523
17       578
9        410
Name: count, dtype: int64

**Data Validation and Relationships**

- Cross-Field Validation: Compare multiple variables to get cross-field validation like delivery date >= purchase date.
    - Example: Check if the delivery date is always greater than or equal to the purchase date.
- Data Leakage: Ensure that future information is not inadvertently included in the training data (especially relevant for time series or predictive modeling).
    - Example: In a predictive model for stock prices, ensure that future stock prices are not included in the training data.
- Referential Integrity: Validate foreign key relationships between tables or datasets.
    - Example: Check if all order IDs in the orders table have a corresponding customer ID in the customers table.
- Business Rules: Check for any specific business rules or domain-specific constraints that the data should adhere to.
    - Example: In a retail dataset, check if the total order value is equal to the sum of item prices.
- **Hierarchical Validation**: Validate the hierarchical relationships within the data, such as ensuring that a subcategory belongs to the correct main category.
	- Example: Check if all 'product_subcategory' values correctly correspond to their 'product_category' values.

## Assertions and Validation

In [15]:
# Uniformity Constraint assertions
assert wm_df['product_id'].str.startswith('P').all() == True

# Data type assertions
assert wm_df['user_id'].dtype == 'int64'
assert wm_df['product_id'].dtype == 'object'
assert wm_df['gender'].dtype == 'category'
assert wm_df['age'].dtype == 'category'
assert wm_df['occupation'].dtype == 'category'
assert wm_df['city_category'].dtype == 'category'
assert wm_df['stay_in_current_city_years'].dtype == 'category'
assert wm_df['marital_status'].dtype == 'category'
assert wm_df['product_category'].dtype == 'category'
assert wm_df['purchase'].dtype == 'int64'

# Data Range Constraints
# No -ve values in purchases
assert wm_df['purchase'].ge(0).all() == True

# Uniqueness Constraint
wm_df[['user_id','product_id']].duplicated().sum()